<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%d{HH:mm:ss.SSS dd.MM.yyyy}] [%t] [%-5level] [%logger{1}]: %msg%n%throwable}{FATAL=red, ERROR=red, WARN=blue, INFO=black, DEBUG=black, TRACE=black}"/>
        </Console>
        <File name="LogFile" fileName="logs/app.log">
            <PatternLayout pattern="%highlight{[%d{HH:mm:ss.SSS dd.MM.yyyy}] [%t] [%-5level] [%logger{1}]: %msg%n%throwable}{FATAL=red, ERROR=red, WARN=blue, INFO=black, DEBUG=black, TRACE=black}"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="LogFile"/>
        </Root>
        <Logger name="org.springframework" level="OFF" additivity="false">
            <Appender-ref ref="Console"/>
            <Appender-ref ref="LogFile"/>
        </Logger>
        <Logger name="com.github.tddts.jet" level="DEBUG" additivity="false">
            <Appender-ref ref="Console"/>
            <Appender-ref ref="LogFile"/>
        </Logger>
    </Loggers>
</Configuration>