<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="gsonFactory" class="com.github.tddts.jet.config.spring.factory.GsonFactoryBean">
        <property name="deserializers">
            <map>
                <entry key="java.time.LocalDateTime"
                       value="com.github.tddts.jet.config.gson.LocalDateTimeJsonDeserializer"/>
            </map>
        </property>
    </bean>

    <bean id="gsonHttpMessageConverter" class="org.springframework.http.converter.json.GsonHttpMessageConverter">
        <property name="gson" ref="gsonFactory"/>
    </bean>

    <bean id="stringHttpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter"/>

    <bean class="org.springframework.web.client.RestTemplate">
        <property name="messageConverters">
            <list>
                <ref bean="gsonHttpMessageConverter"/>
                <ref bean="stringHttpMessageConverter"/>
            </list>
        </property>
    </bean>

</beans>