<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="viewWirer" class="com.github.jdtk0x5d.eve.jet.view.fx.spring.FxViewWirer"/>

    <bean id="viewProvider" class="com.github.jdtk0x5d.eve.jet.view.fx.spring.FxViewProvider">
        <property name="file" value="${view.main}"/>
        <property name="title" value="${view.title}"/>
        <property name="width" value="${view.width}"/>
        <property name="height" value="${view.height}"/>
    </bean>

    <bean id="fxAppStartProvider" class="com.github.jdtk0x5d.eve.jet.view.fx.spring.FxApplicationStartProvider"/>

</beans>